.login-form {
    width: 90%;
    max-width: 320px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
  button {
    width: 50%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    display: block; /* Ensures that the button is block-level */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
  }
  
  button:hover {
    background-color: #0056b3;
  }
  